*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.theme-light {
    --background-color: hsl(0, 0%, 100%);
    --card-color: hsl(227, 47%, 96%);
    --primary-font-color: hsl(230, 17%, 14%);
    --secondary-font-color: hsl(228, 12%, 44%);
    --title-bg-color: hsl(225, 100%, 98%);
}

.theme-dark {
    --background-color: hsl(230, 17%, 14%);
    --card-color: hsl(228, 28%, 20%);
    --primary-font-color: hsl(0, 0%, 100%);
    --secondary-font-color: hsl(228, 34%, 66%);
    --title-bg-color: hsl(232, 19%, 15%);
}

body {
    background-color: var( --background-color);
    font-family: 'Inter', sans-serif;
    color: var(--primary-font-color);
}

main {
    position: relative;
}

.title-background {
    position: absolute;
    height: 12em;
    width: 100%;
    left: 0em;
    right: 0em;
    background-color: var(--title-bg-color);
    border-radius: 0em 0em 1em 1em;
    z-index: 1;
}

.grid {
    position: relative;
    z-index: 5;
    margin: 0em 8em;
}

.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
}

.toggler {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.theme-heading {
    margin: 1em;
}

.sub-title {
    color: var(--secondary-font-color);
    font-size: small;
}

.theme-heading {
    font-size: small;
    font-weight: 700;
}

.social-platform-grid {
    margin-top: 2em;
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10.5em;
    gap: 2em
}

.card {
    background-color: var(--card-color);
    border-radius: 0.25em;
    display: flex;
    flex-direction: column;
    place-items: center;
    overflow: hidden;
}

.facebook-bg {
    background-color: hsl(208, 92%, 53%);
    height: 4px;
    width: 100%;
}

.twitter-bg {
    background-color: hsl(203, 89%, 53%);
    height: 4px;
    width: 100%;
}

.instagram-bg {
    background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    height: 4px;
    width: 100%;
}

.youtube-bg {
    background-color: hsl(348, 97%, 39%);
    height: 4px;
    width: 100%;
}

.platform-container {
    display: flex;
    place-items: center;
    padding: 1em 1em;
}

.platform-container>img {
    padding-right: 0.5em;
}

.name {
    color: var(--secondary-font-color);
}

.followers-count {
    font-size: 2em;
    font-weight: bold;
}

.followers-text {
    letter-spacing: 0.2em;
    color: var(--secondary-font-color);
}

.up {
    color: hsl(163, 72%, 41%);
}

.stat-text {
    font-size: 0.8em;
    font-weight: 700;
}

.down {
    color: hsl(356, 69%, 56%);
}

.statistics {
    padding: 1em;
    display: flex;
    place-items: center;
}

.overview-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: auto auto;
    column-gap: 2em;
    row-gap: 1em;
}

.overview-card {
    background-color: var(--card-color);
    border-radius: 0.25em;
}

.platform-info {
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 1em 2em
}

.overview {
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 0.75em 2em
}

.overview-container>h2 {
    margin-bottom: 0.5em;
}

.overview-count {
    font-size: 1.5em;
    font-weight: bold;
}

@media screen and (max-width: 992px) {
    .social-platform-grid {
        margin-top: 2em;
        margin-bottom: 2em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 2em
    }
    .overview-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-row: auto auto auto auto auto auto auto auto;
        column-gap: 2em;
        row-gap: 1em;
    }
    .heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 1em;
    }
    .toggler {
        justify-content: space-between;
        width: 100%;
    }
    .grid {
        margin: 0em 2em;
    }
     .title {
        font-size: 1.5em;
    }
}
